@model ProgettoHMI.web.Features.Register.RegisterViewModel
@{
    ViewData["Title"] = "Registrati";
    ViewData["isNotRegister"] = false;
}

<div class="bg-primary pb-5 pt-3 min-vh-100">

    <p class="text-dark fw-bold fs-4 text-center mb-2 disabled" v-bind:class="selectSection == 1 ? 'd-block' : 'd-none'">Iscriviti per affrontare nuove sfide<br /> e ottenere numerosi premi</p>

    <div class="container-fluid" style="max-width: 750px;"> <!-- centrare -->
        <div class="p-4 rounded" v-bind:class="selectSection == 3 ? '' : 'mt-5'" v-bind:style="{backgroundColor: selectSection == 3 ? '#729D9D' : '#E1E1E1'}">

            <form asp-action="Register" asp-controller="Register" method="post" role="form" autocomplete="off">
                <!-- Prima sezione -->
                <div v-bind:class="selectSection == 1 ? 'd-block' : 'd-none'">
                    <label asp-for=Name class="form-label ms-2"></label>
                    <input asp-for="Name" class="form-control" type="text" />
                    <span asp-validation-for="Name" class="text-danger ms-2"> </span>
                    <div class="mb-3"></div>

                    <label asp-for=Surname class="form-label ms-2"></label>
                    <input asp-for="Surname" class="form-control" type="text" />
                    <span asp-validation-for="Surname" class="text-danger ms-2"> </span>
                    <div class="mb-3"></div>

                    <label asp-for=Email class="form-label ms-2"></label>
                    <input asp-for="Email" class="form-control" type="email" />
                    <span asp-validation-for="Email" class="text-danger ms-2"> </span>
                    <div class="mb-3"></div>

                    <label asp-for=Password class="form-label ms-2"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger ms-2"> </span>
                    <div class="mb-3"></div>
                </div>

                <!-- Seconda sezione -->
                <div v-bind:class="selectSection == 2 ? 'd-block' : 'd-none'">
                    <label asp-for=PhoneNumber class="form-label ms-2"></label>
                    <input asp-for="PhoneNumber" class="form-control" type="tel" />
                    <span asp-validation-for="PhoneNumber" class="text-danger ms-2"> </span>
                    <div class="mb-3"></div>

                    <label asp-for="TaxID" class="form-label ms-2"></label>
                    <input asp-for="TaxID" class="form-control" type="text" />
                    <span asp-validation-for="TaxID" class="text-danger ms-2"></span>
                    <div class="mb-3"></div>

                    <label asp-for="Address" class="form-label ms-2"></label>
                    <input asp-for="Address" class="form-control" type="text" />
                    <span asp-validation-for="Address" class="text-danger ms-2"></span>
                    <div class="mb-3"></div>

                    <label asp-for="Nationality" class="form-label ms-2"></label>
                    <input asp-for="Nationality" class="form-control" type="text" />
                    <span asp-validation-for="Nationality" class="text-danger ms-2"></span>
                    <div class="mb-3"></div>

                    <label asp-for="ImgProfile" class="form-label ms-2"></label>
                    <input asp-for="ImgProfile" class="form-control" type="file" accept="image/*" />
                    <span asp-validation-for="ImgProfile" class="text-danger ms-2"></span>
                </div>

                <!-- Terza sezione -->
                <h2 class="text-center mb-3" v-show="selectSection== 3">Scegli il tuo livello</h2>
                <div v-bind:class="selectSection == 3 ? 'd-block' : 'd-none'">
                    @* <h2 class="text-center mb-3">Scegli il tuo livello</h2> *@
                    @for (int i = 0; i < Model.Ranks.Ranks.Count(); i++)
                    {
                        var rank = Model.Ranks.Ranks.ElementAt(i);
                        <div>
                            <div id="card-register" class="bg-secondary row align-items-center mb-2 p-3 rounded-4" v-bind:class="selectRank == @(i + 1) ? 'selected-register' : ''" style="min-height: 128px; max-height:128px;" >
                                <div class="col-auto">
                                    <img src="~/images/@rank.ImgRank" alt="@rank.Name" />
                                </div>
                                <div class="col">
                                    <h5>@rank.Name</h5>
                                    <p class="fs-p-register">@rank.Description</p>
                                </div>
                                <div class="col-auto form-check">
                                    <input class="form-check-input p-3" type="radio" asp-for="RankId" value="@rank.Id" v-on:click="selectRank = @(i + 1)">
                                </div>
                            </div>
                        </div>
                    }
                    <span asp-validation-for="RankId" class="text-danger ms-2 d-flex" style="height: 30px;"> </span>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <p id="progress" class="mb-0">{{ selectSection }} di 3</p>
                    <div>
                        <button type="button" id="prevBtn" class="btn btn-secondary me-2" v-on:click="selectSection = selectSection - 1" v-show="selectSection != 1">Indietro</button>
                        <button type="button" id="nextBtn" class="btn btn-primary" v-on:click="handleNext()">{{ selectSection == 3 ? 'Invia' : 'Avanti' }}</button>
                        @* <button type="submit" class="btn btn primary">dadaaaaaaaaaaaaaaaaaaaaaa</button> *@
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/bundle-vue.js" asp-append-version="true"></script>

    <script type="text/javascript">
        new Vue({
            el: '#pageId',
            data: {
                selectSection: 1,
                selectRank: 0
            },
            methods: {
                handleNext() {
                    if (this.selectSection < 3) {
                        this.selectSection++;
                    } else {
                        this.$el.querySelector('form').submit();
                    }
                }
            }
        });
    </script>
}
