@inject IHtmlLocalizer<ProgettoHMI.web.SharedResource> SharedLocalizer
@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@{
    Layout = "_LayoutHtml";
    var version = System.Reflection.Assembly.GetAssembly(typeof(Startup)).GetName().Version;

    var identitaCorrente = (ProgettoHMI.web.Areas.IdentitaViewModel)ViewData[ProgettoHMI.web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY];
}
@section metas{
    @RenderSection("metas", false)
}
@section styles {
    <style>
        .navbar {
			position: sticky;
			top: 0;
			z-index: 1;
        }
    </style>
	@RenderSection("styles", false)
} 
<div id="pageId">
    @if (ViewData["isNotRegister"] as bool? ?? true) 
    {
        @if (ViewData["isHomePage"] as bool? ?? false)
        {
            <nav class="navbar navbar-light bg-primary">
                <div class="container-fluid">
                    <button class="btn bg-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a href="@Url.Action(MVC.Home.Index())"><h1 class="text-dark">LOGO</h1></a>
                    @if (ViewData["isLogin"] as bool? ?? false) 
                    {
                        <a href="@Url.Action(MVC.User.Profile.Index())" class="btn"><img src="~/images/User.svg" alt="Account" class="w-75 h-75" /></a>
					
                    } else {
                        <div class="ms-4">
                            <a href="@Url.Action(MVC.Login.Login())" class="btn btn-secondary opacity-75">Accedi</a>
                            <a href="@Url.Action(MVC.Register.Register())" class="btn btn-primary">Registrati</a>
                        </div>
                    }
                </div>
            </nav>
        } else {
            <nav class="navbar navbar-light bg-primary">
                <div class="container-fluid">
                    <button class="btn bg-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a href="@Url.Action(MVC.Home.Index())"><h1 class="text-dark">LOGO</h1></a>
                    @if (ViewData["isLogin"] as bool? ?? false)
                    {
                        <a href="@Url.Action(MVC.User.Profile.Index())" class="btn"><img src="~/images/User.svg" alt="Account" class="w-75 h-75" /></a>
                    }
                    else
                    {
                        <a href="@Url.Action(MVC.Register.Register())" class="btn btn-primary">Registrati</a>
                    }
                </div>
            </nav>
        }
            <div class="offcanvas offcanvas-start bg-primary" data-bs-backdrop="true" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel" style="width:60% !important; max-width: 400px; min-width: 200px;">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="text-center">
                        <a href="@Url.Action(MVC.Home.Index())" class="nav-link mb-1">Home</a>
                        <hr />
                        <a href="@Url.Action(MVC.Tournaments.Live.Index())" class="nav-link mb-1">Live</a>
                        <hr />
                            <a href="@Url.Action(MVC.Tournaments.Tournaments.Index())" class="nav-link mb-1">Tornei</a>
                        <hr class="mb-5" />
                        @if (ViewData["isLogin"] as bool? ?? false)
                        {

				        }
				        else
				        {
                            <div class="d-flex flex-column align-items-center">
                                <a href="@Url.Action(MVC.Register.Register())" class="btn btn-primary mb-2 w-50" style="max-width: 180px;">Registrati</a>
                                <a href="@Url.Action(MVC.Login.Login())" class="btn btn-secondary w-50" style="max-width: 180px;">Accedi</a>
                            </div>
				        }
                    </div>
                </div>
            </div>
    } else {
        <nav class="navbar navbar-light bg-primary">
            <div class="container-fluid">
                <a class="logo-home" href="@Url.Action(MVC.Home.Index())"><img class="logo-home" src="~/images/Home.svg" /></a>
                <h1>LOGO</h1>
                <a href="@Url.Action(MVC.Login.Login())" class="btn btn-primary">Accedi</a>
            </div>
        </nav>
    }
    @RenderBody()
    <footer class="bg-primary text-white py-3">
        <div class="container d-flex flex-column align-items-center">
            <span class="text-center" style="font-size: 16px; margin: 0; color: black;">&copy; @DateTime.Now.Year TennisLab. All rights reserved.</span>
            <p class="text-center" style="font-size: 16px; margin: 0; color: black;">Progetto sviluppato da Melissa Selmanhaskaj</p>
            <p class="text-center" style="font-size: 16px; margin: 0; color: black;">Laboratorio di Interfaccia Uomo-Macchina - Campus Cesena Università di Bologna</p>
        </div>
    </footer>
</div>
@section scripts{
    <script type="text/javascript">
        @this.RenderAlertsWithToastify()
    </script>
 
    @RenderSection("scripts", false)
}